/*stili generali*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

body {
    background-color: black;
}

 /*sopra*/
.upper-bar {
    position: fixed;
    min-height: 35px;
    z-index: 500;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: black;
}

.upper-container a {
    padding: 5px;
    margin-right: 10px;
    border-radius: 5px;
    text-decoration: none;
}

ul {
    list-style-type: none;
    display: flex;
}

/*centro*/
.center-container {
    width: 100vw;
    padding: 4% 0;
    text-align: center;
}

.user-container div {
    position: relative;
    display: inline-block;
}

.user-name {
    position: absolute;
    bottom: 10px;
    left: 0;
    padding: 5px;
}

img {
    margin: 2px 0;
    position: relative;
    display: block;
}

/*sotto*/
.lower-container {
    position: fixed;
    height: 7vh;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: rgb(36, 35, 35);
}

.lower-container .left-functions {
    display: flex;
    align-content: stretch;
    align-items: center;
    background-color: rgb(37, 37, 37);    
    width: 10%;
    color: white;
}

.lower-container .center-functions {
    display: flex;
    align-content: stretch;
    align-items: center;
    justify-content: center;
    background-color: rgb(37, 37, 37);    
    width: 80%;
    color: white;
}

.lower-container .right-functions {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
    width: 10%;
    color: red;
    cursor: pointer;
}

.buttons {
    text-align: center;
    padding: 0 8px;
    cursor: pointer;
}

/*colori e stili*/
[target="color"] {
    color: white;
    background-color: rgba(172, 11, 11, 0.493);
}

[target="size-big"] {
    font-size: 30px;
    text-align: center;
}

[target="size-small"] {
    font-size: 10px;
    padding: 0 10px;
    cursor: pointer;
}